* {
  -webkit-font-smoothing: antialiased;
}
body {
  background: #fff;
}
body header a#logo {
  background: url('../assets/aok.svg') no-repeat;
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
}
body a {
  color: #000;
}
