// Notes

* 		{ -webkit-font-smoothing: antialiased; }

body { background: #fff;

	header { 

		a#logo { background: url('../assets/aok.svg') no-repeat; display: block; width: 40px; height:40px; text-indent: -9999px; }

	}

	a { color:#000; }


	h1 {  }

}